@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* ====Global style==== */
:root {
  --color-white: #ffffff;
  --color-brich: #3d3825;
  --color-green: #006048;
  --color-green-tropical: #007c5d;
  --background-white: #ffffff;
  --background-gray: #FAF9F7;
  --background-gray-light: #f7f6f2;
  --background-green: #007c5d;
  --background-green-light: #32a250;
  --background-btn: #ffd65c;
  --border-color: #EDEBE1;

  --font-family-mulish: "Mulish", sans-serif;

  --font-size-base: 16px;
  --font-size-17: 17px;
  --font-size-h4: 18px;
  --font-size-h5: 20px;
  --font-size-h2: 24px;
  --font-size-title: 26px;
  --font-size-h1: 36px;

  
  /* --lh-xs: 16px;  */ 
  --lh-sm: 20px;    
  --lh-md: 24px;   
  --lh-lg: 31px;  
  --lh-lg-ex: 34px;  
  --lh-xl: 38px;    
  --lh-2xl: 43px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  
}
ul,ol{
  list-style: none;

}
a{
  text-decoration: none;
  display: inline-block;
  color: var(--color-brich);
}
img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-base);
  line-height: var( --lh-sm);
  color: var(--color-brich);
  background: var(--color-white);
  overflow-x: hidden;
}

/* Headings */
h1 {
  font-size: var(--font-size-h1);
  line-height: var(--lh-2xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-green);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--lh-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-green-tropical);
}
h3 {
  font-size: var(--font-size-h2);
  line-height: var(--lh-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-brich);
}
h3.title{
  font-size: var(--font-size-title);
  line-height: var(--lh-lg-ex);
  color: var(--color-green-tropical);
}
h4{
   font-size: var(--font-size-h4);
   line-height: 21.6px;
}
h5{
   font-size: var(--font-size-h5);
}

/* Paragraph text */
p {
  font-size: var(--font-size-17);
  line-height: var(--lh-md);
}

input:focus{
   outline: none;
}
/* Flex style */
.flex-box {
   display: -webkit-flex;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.flex-box-all {
   display: -webkit-flex;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-box-align: center;
   align-items: center;
}

.flex-horizontal-align {
   -webkit-box-pack: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.flex-vertical-align {
   -webkit-box-align: center;
   align-items: center;
}

.flex-bottom-align {
   -webkit-box-align: flex-end;
   align-items: flex-end;
}

.flex-content-align {
   -webkit-align-content: center;
   -moz-align-content: center;
   align-content: center;
}

.flex {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-flow: row wrap;
}

/* end flex style */
/* button style start */
.btn{
  background-color: var(--background-btn);
  color: var(--color-brich);
  padding-inline: 20px;
  padding-block: 18px;
  border-radius: 4px;
  font-size: var(--font-size-17);
  line-height: var(--lh-sm);
  font-weight: var(--font-weight-semibold);
}
.btn-primary{
  background-color: var(--background-green);
  color: var(--color-white);
}
.btn-border{
  color: var(--color-green-tropical);
  border: 1px solid var(--color-green-tropical);
  background-color: var(--background-white);
}
/* button style end */

.common-wrap {
   max-width: 1264px;
   margin: 0 auto;
   padding: 0 12px;
}




/* ====== Header style start ====== */
.header-wrap{
  padding-top: 35px;
}
.header-wrap .call-wrap{
  gap: 20px;
}
.header-wrap .call-wrap p{
  color: var(--color-green);
  font-weight: 900;
  line-height: 19px;
}
.header-wrap .call-wrap .call-title{
  color: var(--color-brich);
  font-weight: 300;
  margin-right: 5px;
}
.header-wrap .nav-wrap{
  background-color: var(--background-green);
  margin-top: 40px;
}
.header-wrap .nav-wrap ul{
  gap: 6px;
}

.header-wrap .nav-wrap ul a{
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
  padding-block: 24px;
  
}
/* ====== Header style end ====== */

/* ====== Mortgages style start ====== */
.mortgages-wrap{
   margin-top: 57px;
   margin-bottom: 93px;
}
.mortgages{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;  
   grid-template-rows: auto auto;
   gap: 59px;   
}
.mortgages .item{
   background: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: end;
   padding-inline: 32px;
   padding-bottom: 27px;
   text-align: center;
   color: var(--color-white);
   min-height: 360px;
}
.item h3{
   color: var(--color-white);
   margin-bottom: 10px;
}
.item p{
   text-align: start;
}
.item a{
   width: 100%;
   margin-top: 24px;
}
.explore{
   background-color: #777777;
   color: var(--color-white);
}


/* ====== Mortgages style end ====== */


/* ====== form section ===== */
.common-wrap-form{
   padding-top: 90px;
   padding-bottom: 90px;
   max-width: 805px;
   margin: 0 auto;
}
.common-wrap-form .help{
   max-width: 600px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 80px;
   
}
.common-wrap-form .help p{
   font-size: 18px;
   line-height: 25px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.common-wrap-form .help img{
   max-width: 14px;
}
.form-box {
      background: #ffffff;
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding: 30px;
    }

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-group.full {
      grid-column: 1 / -1; /* full width row */
    }

   .form-box label {
      font-size: 17px;
      margin-bottom: 6px;
      font-weight: bold;
      color: #48432C;
      text-align: left;
    }

    input,
    textarea {
      padding: 12px;
      font-size: 15px;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      background-color: var(--background-gray);
      resize: vertical;
    }

    .submit-btn {
      grid-column: 1 / -1;
      padding: 14px;
      background-color: var(--background-green-light);
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .submit-btn:hover {
      background-color: #015a3b;
    }

    

    /* =========== Calculetor style =========== */

    .calculator-container {
      border: 1px solid var(--border-color);
      border-radius: 8px;
      width: 100%;
      overflow: hidden;
      margin-top: 73px;
    }

    .calculator-header {
      padding-left: 60px;
      margin-top: 48px;
    }

    .calculator-header h2 {
      color: var(--color-green-tropical);
      margin: 0 0 18px;
    }

    .calculator-header p {
      font-size: 17px;
      line-height: 20px;
    }

    .tabs {
      display: flex;
      justify-content: flex-end;
      padding: 0 24px;
      }

      .tabs-right {
         display: flex;
         gap: 9px;
      }

      .tab {
         padding: 16px 24px;
         background: #EBE9DE;;
         border: none;
         cursor: pointer;
         font-size: 16px;
         font-weight: bold;
         border-radius: 4px 4px 0 0;
         min-width: 143px;
         color: var(--color-brich);
         margin-top: 24px;
      }

      .tab.active {
      
      background: var(--background-gray-light);
      }

    .calculator-body {
      display: flex;
      flex-wrap: wrap;
      background: var(--background-gray-light);
      padding-block: 48px;
      padding-left: 60px;
      padding-right: 120px;
      gap: 16px;
    }

    .form-section {
      display: flex;
      width: 100% ;
      gap: 10px;
    }
    .form-section span{
      margin-top: 20px;
      width: 1px;
      height: 100%;
      background-color: #DDDDDD;
    }
    .form-inner{
      max-width: 750px;
      display: flex;
      flex-flow: wrap;
      gap: 20px;
      align-items: end;
    }

    .form-section.active {
      display: flex;
    }
   
    .input-group{
      max-width: 213px;
    }

    .input-group label {
      font-size: 18px;
      line-height: 21.6px;
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .input-group input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
      font-size: 16px;
    }

    .calculate-btn {
      background: var(--background-green);
      color: #fff;
      padding: 12px 24px;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
    }

    .output {
      margin-left: auto;
    }

    .output-label {
      font-size: 18px;
      line-height: 21px;
    }

    .output-value {
      color: var(--color-green);
      font-size: 54px;
      line-height: 52.8px;
      font-weight: bold;
      margin-top: 12px;
    }



/* ======== Testimonial style start ========= */

.testimonial-box h3{
  text-align: center;
}
.testimonial{
   max-width: 400px;
  padding: 30px 25px;
  background-color: white;
  border-radius: 10px;
  font-family: sans-serif;
  border: 1px solid var(--border-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Quote text */
.testimonial .quote {
  position: relative;
  font-size: 15px;
  line-height: 26px;
  padding: 10px 20px;
}

/* Left quote mark */
.quote::before {
  content: "“";
  font-size: 40px;
  color: black;
  position: absolute;
  top: 14px;
  left: 0;
}

/* Right quote mark */
.quote::after {
  content: "“";
  font-size: 40px;
  color: black;
  position: absolute;
  bottom: 0px;
  right: 70px;
  transform: scaleX(-1);
}
.testimonial-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* User image */
.user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* User info */
.user-info .user-name {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  color: #333;
}

.user-info .stars {
  color: #ffc107;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 2px;
}

/*========= Testimonial style end =========*/

/*========== Footer style start =========*/


.footer-wrap{
  background-color: var(--background-gray-light);
  width: 100%;
  
}
.footer-wrap .offer-wrap{
  background-color: var(--background-green-light);
  padding-block: 20px;
   padding-top: 27px;
   padding-bottom: 17px;
    
}
.footer-wrap .offer-wrap .offer{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.footer-wrap .image-wrap{
   width: 30px;
   height: 30px;
   display: inline-block;
}

.footer-wrap .offer-wrap p{
  color: var(--color-white);
  font-size: 20px;
  line-height: var(--lh-md);
  font-weight: var(--font-weight-bold);
   margin-top: -5px;
}
.footer-wrap .offer-wrap span{
  color: #ffd65c;
  text-decoration: underline;
}
.footer-bottom{
   padding-block: 95px;
}

.widget-item{
  width: 30%;
}
.widget-item-links{
  width: 40%;
  padding-right: 50px;
}
.footer-bottom address, .phone, .email{
   font-size: 15px;
   line-height: 22px;
   font-weight: 400;
}
.footer-bottom address{
   padding-top: 16px;
   padding-bottom: 20px;
}
.footer-bottom .email{
   text-decoration: underline;
}
.footer-bottom h5{
   margin-bottom: 16px;
   font-size: 18px;
   font-weight: 800;
   line-height: 21px;
   color: var(--color-green-tropical);
}
.footer-bottom li a{
   font-size: var(--font-size-base);
   line-height: 40px;
   font-weight: 400;
}


/* Footer end */


/* ====== Responsive style ====== */
@media (max-width: 1280px){
   .widget-item-links{
      padding-right: 0px;
   }
   /* Mortgages style */
   .mortgages{
      gap: 20px;
   }
   .mortgages .item{
      padding-inline: 24px;
   }
   .item h3{
      font-size: 22px;
   }
}
@media (max-width: 1024px){
   .widget-item-links{
      text-align: center;
   }
   .widget-item-links .links{
      justify-content: center;
      flex-direction: column;
   }
   .widget-item-links .links li{
      text-align: center;
   }
   /* Mortgages style */
   .mortgages{
      grid-template-columns: 1fr 1fr;
   }
}
@media (max-width: 768px){
   
   /* Mortgages style */
   .mortgages{
      grid-template-columns: 1fr ;
   }
   /* Footer style */
   .footer-wrap .image-wrap {
      width: 24px;
      height: 24px;
      display: inline-block;
   }
   .footer-wrap .offer-wrap{
      padding-top: 12px;
      padding-bottom: 12px;
   }
   .offer-wrap .offer p {
      color: var(--color-white);
      font-size: 15px;
      line-height: 18px;
      font-weight: var(--font-weight-bold);
      text-align: center;
   }

   .footer-wrap .offer-wrap .offer {
      gap: 10px;
      flex-direction: column;
   }
   .footer-bottom {
      padding-block: 32px;
   }
   .footer-bottom{
      row-gap: 20px;
   }
   
   .widget-item, .widget-item-links{
      width: 100%;
      text-align: center;
   }
   .form-row {
    
      justify-content: center;
   }
   .form-row button {
    
      width: 100%;
   }
   .footer-bottom li a{
      line-height: 32px;
   }
   
   .output {
      text-align: left;
      margin-left: 0;
   }

}

@media (max-width: 600px) {
      form {
        grid-template-columns: 1fr;
      }
    }

