@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* ====Global style==== */
:root {
  --color-white: #ffffff;
  --color-brich: #3d3825;
  --color-green: #006048;
  --color-green-tropical: #007c5d;
  --background-white: #ffffff;
  --background-gray-light: #f0f7f1;
  --background-green: #007c5d;
  --background-green-light: #32a250;
  --background-btn: #ffd65c;

  --font-family-mulish: "Mulish", sans-serif;

  --font-size-base: 16px;
  --font-size-17: 17px;
  --font-size-h2: 24px;
  --font-size-title: 26px;
  --font-size-h1: 36px;

  
  /* --lh-xs: 16px;  */ 
  --lh-sm: 20px;    
  --lh-md: 24px;   
  --lh-lg: 31px;  
  --lh-lg-ex: 34px;  
  --lh-xl: 38px;    
  --lh-2xl: 43px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  
}
ul,ol{
  list-style: none;

}
a{
  text-decoration: none;
  display: inline-block;
  color: var(--color-brich);
}
img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-base);
  line-height: var( --lh-sm);
  color: var(--color-primary);
  background: var(--color-white);
}

/* Headings */
h1 {
  font-size: var(--font-size-h1);
  line-height: var(--lh-2xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-green);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--lh-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-green-tropical);
}
h3 {
  font-size: var(--font-size-h2);
  line-height: var(--lh-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-brich);
}
h3.title{
  font-size: var(--font-size-title);
  line-height: var(--lh-lg-ex);
}

/* Paragraph text */
p {
  font-size: var(--font-size-17);
  line-height: var(--lh-md);
}
/* Flex style */
.flex-box {
   display: -webkit-flex;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.flex-box-all {
   display: -webkit-flex;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-box-align: center;
   align-items: center;
}

.flex-horizontal-align {
   -webkit-box-pack: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.flex-vertical-align {
   -webkit-box-align: center;
   align-items: center;
}

.flex-bottom-align {
   -webkit-box-align: flex-end;
   align-items: flex-end;
}

.flex-content-align {
   -webkit-align-content: center;
   -moz-align-content: center;
   align-content: center;
}

.flex {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-flow: row wrap;
}

/* end flex style */
/* button style start */
.btn{
  background-color: var(--background-btn);
  color: var(--color-brich);
  padding-inline: 20px;
  padding-block: 18px;
  border-radius: 4px;
  font-size: var(--font-size-17);
  line-height: var(--lh-sm);
  font-weight: var(--font-weight-semibold);
}
.btn-primary{
  background-color: var(--background-green);
  color: var(--color-white);
}
.btn-border{
  color: var(--color-green-tropical);
  border: 1px solid var(--color-green-tropical);
  background-color: var(--background-white);
}
/* button style end */

.common-wrap {
   max-width: 1240px;
   margin: 0 auto;
   padding: 0 20px;
}




/* ====== Header section ====== */
.header-wrap{
  padding-top: 35px;
}
.header-wrap .call-wrap{
  gap: 20px;
}
.header-wrap .call-wrap p{
  color: var(--color-green);
  font-weight: 900;
  line-height: 19px;
}
.header-wrap .call-wrap .call-title{
  color: var(--color-primary);
  font-weight: 300;
  margin-right: 5px;
}
.header-wrap .nav-wrap{
  background-color: var(--background-green);
  margin-top: 40px;
}
.header-wrap .nav-wrap ul{
  gap: 6px;
}

.header-wrap .nav-wrap ul a{
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
  padding-block: 24px;
  
}



/* ======== Footer style ========= */
.footer-wrap{
  background-color: var(--background-gray-light);
  width: 100%;
}
.footer-wrap .offer-wrap{
  background-color: var(--background-green-light);
  padding-block: 20px;
}
.footer-wrap .offer-wrap p{
  color: var(--color-white);
}
.footer-wrap .offer-wrap span{
  color: #ffd65c;
  text-decoration: underline;
}

.widget-item{
  width: 25%;
}
.widget-item-links{
  width: 50%;
}

/* .widget-item{
   width: 25%;
   padding-right: 30px;
}
.widget-item .list-wrap{
  display: flex;
  width:50%;
} */
/* .main-footer-section {
   display: flex;
   width: 100%;
   background-color: var(--background-gray-light);
   padding-top: 88px;
   margin-top: 68px;
}
.dec-main-footer .widget-item:first-child,
   .dec-main-footer .widget-item:last-child,
   .dec-main-footer .footer-bottom-item:first-child {
      width: 25%;
   }
   .dec-main-footer .widget-item {
      width: 50%;
   } */

   /* .dec-main-footer {
    background-color: #0669c2;
} */
/* .main-footer-section {
    float: left;
    width: 100%;
    background-color: var(--background-gray-light);
    padding-top: 88px;
    margin-top: 68px;
}
.main-footer-section .common-wrap {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
@media only screen and (min-width: 992px){
  .dec-main-footer .widget-item:first-child, .dec-main-footer .widget-item:last-child, .dec-main-footer .footer-bottom-item:first-child {
    width: 25%;
}
} */

/* Beginning footer style */
/* .main-footer-section {
   float: left;
   width: 100%;
   background-color: #f3f3f3;
   padding-top: 88px;
   margin-top: 68px;
}

.widget-item,
.footer-bottom-item {
   float: left;
   width: 28.30645161290323%;
   padding-right: 30px;
}

.widget-item:first-child,
.footer-bottom-item:first-child {
   float: left;
   width: 40%;
}

.widget-item:last-child,
.footer-bottom-item:last-child {
   float: left;
   width: 31.69354838709677%;
}

.widget-item h5 {
   padding-bottom: 16px;
}

.widget-item a {
   display: block;
}

.widget-item address,
.widget-item a {
   max-width: 150px;
   font-size: 15px;
   line-height: 23px;
   font-family: 'Segoe UI', sans-serif;
   font-weight: 400;
   color: #333333;
}

.footer-logo a {
   font-size: 18px;
   line-height: 22px;
   font-family: 'Segoe UI', sans-serif;
   font-weight: 600;
   color: #0f69a3;
   padding-bottom: 14px;
}

.widget-item a {
   max-width: 270px;
}

.widget-item a.phone {
   margin-top: 31px;
}

.widget-item a.email {
   color: #007fff;
   text-decoration: underline;
}

.widget-item ul li a {
   display: inline-block;
   font-size: 15px;
   line-height: 37px;
   color: #333333;
}

.widget-item .quotes-btn-wrap {
   margin-top: 12px;
}

.widget-item .quotes-btn-wrap a {
   color: #ffffff;
}

.widget-item .quotes-btn-wrap a:hover {
   color: #ffb202;
}

.footer-bottom {
   float: left;
   width: 100%;
   background-color: #efefef;
   margin-top: 92px;
   padding: 18px 0;
}

.footer-bottom-item {
   font-size: 15px;
   line-height: 18px;
}

.footer-bottom-item a {
   color: #333333;
} 
*/
