@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ====Global style==== */
/* variable */
:root {
  --color-brich: #3d3825;
  --color-primary: #007c5d;
  --color-primary-dark: #006048;
  --color-primary-light: #32a250;
  --color-primary-extra-light: #32a150;
  --section-bg: #f7f6f2;
  --color-secondary: #ffd65c;
  --color-secondary-light: #fed65d;
  --color-white: #ffffff;
  --color-text: #48432c;
  --color-primary-heading: #005f47;
  --font-family-mulish: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  --body-text: 17px;
  --body-line-height: 23.8px;
  font-family: var(--font-family-mulish);
  font-size: var(--body-text);
  line-height: var(--body-line-height);
  color: var(--color-text);
  background: var(--color-white);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-primary-extra-light);
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}

/* Headings */
h1,
.h1 {
  font-size: 42px;
  line-height: 46.2px;
  font-weight: 800;
  color: var(--color-primary-heading);
}

h2,
.h2 {
  font-size: 26px;
  line-height: 33.8px;
  font-weight: 700;
  color: var(--color-primary);
}

h3,
.h3 {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 700;
  color: var(--color-brich);
}

h4,
.h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 21.6px;
  color: var(--color-primary);
}

label {
  font-size: 17px;
  line-height: 20.4px;
  font-weight: 600;
  color: #47432c;
}

/* common class*/
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.item-center {
  align-items: center;
}

.item-end {
  align-items: end;
}

.item-start {
  align-items: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.overflow-hidden {
  overflow: hidden;
}

/* Flex style */
.flex-box {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-box-all {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}

.flex-horizontal-align {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-vertical-align {
  -webkit-box-align: center;
  align-items: center;
}

.flex-bottom-align {
  -webkit-box-align: flex-end;
  align-items: flex-end;
}

.flex-content-align {
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.grid {
  --grid-column: 1;
  --gap: 20px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--grid-column), 1fr);
}

@media screen and (min-width: 789px) {
  .grid {
    --grid-column: 2;
    --gap: 30px;
  }
}

@media screen and (min-width: 1025px) {
  .grid {
    --grid-column: 3;
    --gap:40px;
}
}
/* Flex style */
.flex-box {
   display: -webkit-flex;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.flex-box-all {
   display: -webkit-flex;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-box-align: center;
   align-items: center;
}

.flex-horizontal-align {
   -webkit-box-pack: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.flex-vertical-align {
   -webkit-box-align: center;
   align-items: center;
}

.flex-bottom-align {
   -webkit-box-align: flex-end;
   align-items: flex-end;
}

.flex-content-align {
   -webkit-align-content: center;
   -moz-align-content: center;
   align-content: center;
}

.flex {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-flow: row wrap;
}

/* end flex style */
/* button style start */
.btn{
  background-color: var(--background-btn);
  color: var(--color-brich);
  padding-inline: 20px;
  padding-block: 18px;
  border-radius: 4px;
  font-size: var(--font-size-17);
  line-height: var(--lh-sm);
  font-weight: var(--font-weight-semibold);
}
.btn-primary{
  background-color: var(--background-green);
  color: var(--color-white);
}
.btn-border{
  color: var(--color-green-tropical);
  border: 1px solid var(--color-green-tropical);
  background-color: var(--background-white);
}
/* button style end */

.common-wrap {
   max-width: 1264px;
   margin: 0 auto;
   padding: 0 12px;
}








/* ======================== FAQ Style start ==================== */


 .faq-section{
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #F7F6F2;
 }
 .faq-wrap h2{
      color: #007c5d;
      text-align: center;
      font-size: 26px;
      line-height: 31.2px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  p.subtitle {
      text-align: center;
      color: #48432c;
      font-size: 18px;
      line-height: 21.6px;
      margin-bottom: 54px;
    }
    .faq-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      column-gap: 40px;
    }
    .faq-item {
      background: #FFFFFF;
      border-radius: 8px;
      border-radius: 8px;
      padding-block: 20px;
      padding-left: 36px;
      padding-right: 16px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .faq-item:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    
    .question h5 {
      font-size: 18px;
      line-height: 21.6px;
      color: #48432c;
      font-weight: 400;
      margin: 0;
      position: relative;
    }
    .question h5::after {
      content: "";
      right: 0;
      top: 9px;
      width: 10px;
      height: 8px;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      background-color: #333333;
      transition: 0.7s ease-in-out;
      flex-shrink: 0;
      
    }
   
   .faq-wrap .rotate {
      transform: rotate(180deg);
    }
    .answer {
      margin-top: 16px;
      margin-left: 10px;
      font-size: 14px;
      color: #4a4a4a;
      display: none;
    }
    .show {
      display: block;
    }

    @media (max-width: 768px) {
      .faq{
        flex-direction: column;
      }
      .faq-item{
        width: 100%;
        padding-block: 12px;
        padding-left: 20px;
      }
      .faq-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }

/* ======================== FAQ Style end ==================== */








/* ====== Header style start ====== */
.header-wrap{
  padding-top: 35px;
}
.header-wrap .call-wrap{
  gap: 20px;
}
.header-wrap .call-wrap p{
  color: var(--color-green);
  font-weight: 900;
  line-height: 19px;
}
.header-wrap .call-wrap .call-title{
  color: var(--color-brich);
  font-weight: 300;
  margin-right: 5px;
}
.header-wrap .nav-wrap{
  background-color: var(--background-green);
  margin-top: 40px;
}
.header-wrap .nav-wrap ul{
  gap: 6px;
}


.header-wrap .nav-wrap ul a{
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
  padding-block: 24px;
  
}
/* dropdown start */
.header-wrap .nav-wrap img{
   width: 13px;
   padding-left: 5px;
}
.dropdown-wrap{
   background-color: #39BB5C;
   padding: 15px;

}
.dropdown-wrap li{
   padding-block: 5px;
   color: var(--color-white);
}
/* ====== Header style end ====== */

/* ====== Mortgages style start ====== */
.mortgages-wrap{
   margin-top: 57px;
   margin-bottom: 93px;
}
.mortgages{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;  
   grid-template-rows: auto auto;
   gap: 59px;   
}
.mortgages .item{
   background: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: end;
   padding-inline: 32px;
   padding-bottom: 27px;
   text-align: center;
   color: var(--color-white);
   min-height: 360px;
}
.item h3{
   color: var(--color-white);
   margin-bottom: 10px;
}
.item p{
   text-align: start;
}
.item a{
   width: 100%;
   margin-top: 24px;
}
.explore{
   background-color: #777777;
   color: var(--color-white);
}


/* ====== Mortgages style end ====== */


/* ====== form section ===== */
.common-wrap-form{
   padding-top: 90px;
   padding-bottom: 90px;
   max-width: 805px;
   margin: 0 auto;
}
.common-wrap-form .help{
   max-width: 600px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 80px;
   
}
.common-wrap-form .help p{
   font-size: 18px;
   line-height: 25px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.common-wrap-form .help img{
   max-width: 14px;
}
.form-box {
      background: #ffffff;
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding: 30px;
    }

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-group.full {
      grid-column: 1 / -1; /* full width row */
    }

   .form-box label {
      font-size: 17px;
      margin-bottom: 6px;
      font-weight: bold;
      color: #48432C;
      text-align: left;
    }

    input,
    textarea {
      padding: 12px;
      font-size: 15px;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      background-color: var(--background-gray);
      resize: vertical;
    }

    .submit-btn {
      grid-column: 1 / -1;
      padding: 14px;
      background-color: var(--background-green-light);
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .submit-btn:hover {
      background-color: #015a3b;
    }

    

    /* =========== Calculetor style =========== */

    .calculator-container {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        width: 100%;
        padding-block: 73px;
    }

    .calculator-header {
      padding-left: 60px;
    }

    .calculator-header h2 {
      color: var(--color-green-tropical);
      margin: 0 0 18px;
    }

    .calculator-header p {
      font-size: 17px;
      line-height: 20px;
    }

    .tabs {
      display: flex;
      justify-content: flex-end;
      padding: 0 24px;
      }

      .tabs-right {
         display: flex;
         gap: 9px;
      }

      .tab {
         padding: 16px 24px;
         background: #EBE9DE;;
         border: none;
         cursor: pointer;
         font-size: 16px;
         font-weight: bold;
         border-radius: 4px 4px 0 0;
         min-width: 143px;
         color: var(--color-brich);
         margin-top: 24px;
      }

      .tab.active {
      
      background: var(--background-gray-light);
      }

    .calculator-body {
      display: flex;
      flex-wrap: wrap;
      background: var(--background-gray-light);
      padding-block: 48px;
      padding-left: 60px;
      padding-right: 120px;
      gap: 16px;
    }

    .form-section {
      display: flex;
      width: 100% ;
      gap: 10px;
    }
    .form-section span{
      margin-top: 20px;
      width: 1px;
      height: 100%;
      background-color: #DDDDDD;
    }
    .form-inner{
      max-width: 750px;
      display: flex;
      flex-flow: wrap;
      gap: 20px;
      align-items: end;
    }

    .form-section.active {
      display: flex;
    }
   
    .input-group{
      max-width: 213px;
    }

    .input-group label {
      font-size: 18px;
      line-height: 21.6px;
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .input-group input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
      font-size: 16px;
    }

    .calculate-btn {
      background: var(--background-green);
      color: #fff;
      padding: 12px 24px;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
    }

    .output {
      margin-left: auto;
    }

    .output-label {
      font-size: 18px;
      line-height: 21px;
    }

    .output-value {
      color: var(--color-green);
      font-size: 54px;
      line-height: 52.8px;
      font-weight: bold;
      margin-top: 12px;
    }

    @media (max-width: 768px) {
      .calculator-container {
        padding-block: 28px;
    }
    .calculator-header {
      padding-left: 20px;
    }

      .calculator-body {
        padding-block: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .form-section {
        flex-direction: column;
      }
     .form-section .form-inner{
      order: 2;
      width: 100%;
     }
     
     .form-section .output{
      order: 1;
      width: 100%;
     }
     .output-value{
      font-size: 40px;
      line-height: 46px;
     }
     .input-group{
      max-width: 100%;
      width: 100%;
     }
    }



/* ======== Testimonial style start ========= */

.testimonial-box h3{
  text-align: center;
}
.testimonial{
   max-width: 400px;
  padding: 30px 25px;
  background-color: white;
  border-radius: 10px;
  font-family: sans-serif;
  border: 1px solid var(--border-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Quote text */
.testimonial .quote {
  position: relative;
  font-size: 15px;
  line-height: 26px;
  padding: 10px 20px;
}

/* Left quote mark */
.quote::before {
  content: "“";
  font-size: 40px;
  color: black;
  position: absolute;
  top: 14px;
  left: 0;
}

/* Right quote mark */
.quote::after {
  content: "“";
  font-size: 40px;
  color: black;
  position: absolute;
  bottom: 0px;
  right: 70px;
  transform: scaleX(-1);
}
.testimonial-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* User image */
.user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* User info */
.user-info .user-name {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  color: #333;
}

.user-info .stars {
  color: #ffc107;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 2px;
}

/*========= Testimonial style end =========*/

/*========== Footer style start =========*/


.footer-wrap{
  background-color: var(--background-gray-light);
  width: 100%;
  
}
.footer-wrap .offer-wrap{
  background-color: var(--background-green-light);
  padding-block: 20px;
   padding-top: 27px;
   padding-bottom: 17px;
    
}
.footer-wrap .offer-wrap .offer{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.footer-wrap .image-wrap{
   width: 30px;
   height: 30px;
   display: inline-block;
}

.footer-wrap .offer-wrap p{
  color: var(--color-white);
  font-size: 20px;
  line-height: var(--lh-md);
  font-weight: var(--font-weight-bold);
   margin-top: -5px;
}
.footer-wrap .offer-wrap span{
  color: #ffd65c;
  text-decoration: underline;
}
.footer-bottom{
   padding-block: 95px;
}

.widget-item{
  width: 30%;
}
.widget-item-links{
  width: 40%;
  padding-right: 50px;
}
.footer-bottom address, .phone, .email{
   font-size: 15px;
   line-height: 22px;
   font-weight: 400;
}
.footer-bottom address{
   padding-top: 16px;
   padding-bottom: 20px;
}
.footer-bottom .email{
   text-decoration: underline;
}
.footer-bottom h5{
   margin-bottom: 16px;
   font-size: 18px;
   font-weight: 800;
   line-height: 21px;
   color: var(--color-green-tropical);
}
.footer-bottom li a{
   font-size: var(--font-size-base);
   line-height: 40px;
   font-weight: 400;
}


/* Footer end */


/* ====== Responsive style ====== */
@media (max-width: 1280px){
   .widget-item-links{
      padding-right: 0px;
   }
   /* Mortgages style */
   .mortgages{
      gap: 20px;
   }
   .mortgages .item{
      padding-inline: 24px;
   }
   .item h3{
      font-size: 22px;
   }
}
@media (max-width: 1024px){
   .widget-item-links{
      text-align: center;
   }
   .widget-item-links .links{
      justify-content: center;
      flex-direction: column;
   }
   .widget-item-links .links li{
      text-align: center;
   }
   /* Mortgages style */
   .mortgages{
      grid-template-columns: 1fr 1fr;
   }
}
@media (max-width: 768px){
   
   /* Mortgages style */
   .mortgages{
      grid-template-columns: 1fr ;
   }
   /* Footer style */
   .footer-wrap .image-wrap {
      width: 24px;
      height: 24px;
      display: inline-block;
   }
   .footer-wrap .offer-wrap{
      padding-top: 12px;
      padding-bottom: 12px;
   }
   .offer-wrap .offer p {
      color: var(--color-white);
      font-size: 15px;
      line-height: 18px;
      font-weight: var(--font-weight-bold);
      text-align: center;
   }

   .footer-wrap .offer-wrap .offer {
      gap: 10px;
      flex-direction: column;
   }
   .footer-bottom {
      padding-block: 32px;
   }
   .footer-bottom{
      row-gap: 20px;
   }
   
   .widget-item, .widget-item-links{
      width: 100%;
      text-align: center;
   }
   .form-row {
    
      justify-content: center;
   }
   .form-row button {
    
      width: 100%;
   }
   .footer-bottom li a{
      line-height: 32px;
   }
   
   .output {
      text-align: left;
      margin-left: 0;
   }

}

@media (max-width: 600px) {
      form {
        grid-template-columns: 1fr;
      }
    }

